.nav-wrapper {
  border-radius: 2%;
  margin-bottom: 3%;
}

.brand-logo {
  text-align: center;
  margin: 0 30%;
}

.User_box {
  padding: 6px 8px;
  border-radius: 5px;
  background-color: #651fff;
  color: white;
  margin-left: 45%;
  margin-top: 2%;
  margin-right: 2.6%;
}

.bot_box {
  background-color: #eeeeee;
  padding: 6px 8px;
  border-radius: 5px;
  margin-left: 2.6%;
  margin-right: 45%;
  margin-top: 2%;
}

.User_inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 5%;
  margin: 0 7%;
  background-color: white;
  align-items: center;
  align-content: center;
  position: fixed;
}

.header {
  background: #6190e8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #a7bfe8,
      #6190e8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #a7bfe8,
      #6190e8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 30%;
  height: 500vh;
}

.nav-wrapper1 {
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,
      #f2fcfe,
      #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom,
      #f2fcfe,
      #1c92d2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  align-items: center;
  text-align: center;
}

.User_inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.container {
  background-color: #ffffff;
  height: 500vh;
}

.teach_bot {
  position: relative;
  top: 10%;
  right: 5%;
  position: fixed;
}

.header_name {
  font-family: "Times New Roman", Times, serif;
}

.bot_text {}

.nav-wrapper p {
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width: 400px) {
  .header {
    background-color: #9fa8da;
    background: #36d1dc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5b86e5, #36d1dc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 13%;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    height: 500vh;
  }

  .nav-wrapper {
    border-radius: 2%;
    margin-bottom: 3%;
  }

  .brand-logo {
    text-align: center;
    margin: 0 0%;
  }

  .teach_bot {
    position: relative;
    top: 9%;
    right: 5%;
    position: fixed;
  }

  .User_inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 7%;
    margin: 0 11%;
    background-color: white;
    align-items: center;
    align-content: center;
    position: fixed;
  }

  .chat-bot {
    visibility: hidden;
    position: fixed;
    text-decoration: none;
    right: 5%;
    bottom: 5%;
    width: 15%;
    height: 8%;
    display: block;
    border-radius: 100%;
    border: 2px solid white;
    box-shadow: 0 0 30px 0 rgba(black, 0.3);
    font-size: 0px;
    background: url("https://cdn-icons-png.flaticon.com/512/3649/3649460.png") no-repeat center;
    background-size: cover;
  }
}